body{
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.box{
    min-height: 100px;
    width: 25%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(165, 153, 116);

}
.productos{
    display: flex; 
    align-items: center;
    border: 10px;
}
