@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Quicksand&family=Raleway:wght@100&display=swap');
body{
    background-color: rgb(165, 153, 116);
}
.NavBar{
    width:100%;
    background-color:rgb(94, 86, 67);;
    padding:1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
}
.NavBar-h1{
   
}
.NavBar-a{}

.NavBar-button{
    
    display: none;
}
.NavBar-svg{
    width:2em;
    height:2em;
    color: white;
    fill: black;
    
}
